@import "~antd/dist/antd.css";

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.header {
  width: 100%;
  height: 50px;

  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  font-size: 20px;
  font-weight: 600;

  background-color: black;
  color: white;
}

.mainContent {
  height: 100%;
}
